.btn {
  padding: rem(18px) rem(41px);
  border-radius: rem(100px);
  color: #FFFFFF;
  background: #E01F3D;
  text-transform: uppercase;
  font-size: rem(16px);
  font-weight: bold;
  border: none;
  cursor: pointer;

  &:hover {
    background: #CA1B36;
  }

  &--theme--transparent{
    background: transparent;
    text-transform: none;
    font-weight: normal;
    padding: 0;

    &:hover {
      background: transparent;
      // font-weight: bold;
    }
  }

  &--theme--red-dark{
    background: #CA1B36;
    padding: rem(20px) rem(41px);
    
    &:hover {
      background: #E01F3D;
    }

  }

  @include tablets {
    
    &--theme--red-dark{
      padding: rem(20px) rem(43px);
    }

    &--theme--transparent{
      color: #E01F3D;
    }
  }

  @include phones {
    font-size: rem(22px);

    &--theme--red-dark{
      font-size: rem(18px);
      
    }

    &--theme--transparent{
      font-size: rem(18px);
    }
  }
  

}