.colors-section {
  background-image: url("../img/colors-bg.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  display: block;
  padding-top: rem(115px);
}

// .colors-section__title {
//   padding-top: rem(115px);
// }