.hamburger{
  width: 26px;
  height: 24px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;

  @include tablets {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}

.hamburger__ico {
  width: 26px;
  height: 24px;
  fill: #292929;
}
