.hamburger-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    display: none;
}


.hamburger-menu__link {
  width: rem(20px);
  height: rem(20px);
  position: absolute;
  top: rem(42px);
  right: rem(42px);
}

.hamburger-menu__ico {
  width: rem(20px);
  height: rem(20px);
}

