.headline {
  text-align: center;
  margin-bottom: rem(62px);

  @include phones {
    margin-bottom: rem(65px);
  }
}

.headline__title {
  margin-bottom: rem(15px);
}

.headline__subtitle {
  color: #666666;
  padding: 0 25%;
  
  @include tablets {
    padding: 0 13%;
  }

  @include phones {
    padding: 0 8%;
  }
}