.human {
  text-align: center;
}
.human__img-wraper {
  margin-bottom: rem(20px);
  width: rem(220px);
  height: rem(290px);
}

.human__name-wrap {
  cursor: pointer;
}

.human__name-wrap--active {

  .human__arrow {
    background: url('../img/akk-arrow-up.png') center center no-repeat;
  }

}

.human__name {
  // position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  color: #292929;
  line-height: 1.31;
  margin-bottom: rem(11px);
  margin-right: rem(5px);
  

  // &::after {
  //   content: url("../img/akk-arrow-down.png");
  //   width: rem(9px);
  //   height: rem(9px);
  //   position: absolute;
  //   bottom: 14px;
  //   right: -14px;
  //   display: inline-block;
  //   cursor: pointer;

  // }
}


// .human__arrow {
//   width: rem(9px);
//   height: rem(9px);
//   display: inline-block;
//   cursor: pointer;
// }
.human__arrow {
  width: rem(9px);
  height: rem(9px);
  display: inline-block;
  
  background: url('../img/akk-arrow-down.png') center center no-repeat;
}




.human__profession-block-wrapper{
  // display: none;
  height: 0;
  overflow: hidden;
}

.human__profession{
  font-weight: normal;
  font-size: rem(16px);
  color: #000000;
}

.human__profession-text {
  font-weight: normal;
  font-size: 16px;
  color: #666666;
}