.product-slider {
  position: relative;
}

.product-slider__arrow {
  width: 24px;
  height: 50px;
}


.product-slider__arrow--direction--prev {
  position: absolute;
  top: 52%;
  left: 4%;
}

.product-slider__arrow--direction--next {
  position: absolute;
  top: 52%;
  left: 94%;
  transform: translateX(-100%);
}

