.product-slider {
  position: relative;
  overflow: hidden;
}

.product-slider__arrow {
  width: rem(24px);
  height: rem(50px);
  z-index: 1;
}


.product-slider__arrow--direction--prev {
  position: absolute;
  top: 52%;
  left: 4%;

  @include tablets {
    top: 24%;
    left: 17%;
  }

  @include phones {
    top: 20%;
    left: -2%;
  }
}

.product-slider__arrow--direction--next {
  position: absolute;
  top: 52%;
  left: 94%;
  transform: translateX(-100%);

  @include tablets {
    top: 24%;
    left: 82%;
  }

  @include phones {
    top: 20%;
    left: 103%;
  }
}

