.radio {
  display: flex;
  cursor: pointer;
  user-select: none;

  &--checkbox {
    .radio__visible {
      border-radius: 0;

      &:before {
        background: url('../img/tick.png') center center no-repeat;
      }
    }
  }

}

.radio--checkbox {
}
.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &::before {
      display: block;
    }
  }

}
.radio__visible {
  width: rem(26px);
  height: rem(26px);
  position: relative;
  border-radius: 50%;
  background: #FFFFFF;

  &::before 
  {
    content: "";
    width: rem(13px);
    height: rem(13px);
    background: #E01F3D;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
  }
}
.radio__title {
    margin-left: rem(9px);
}