.section.colors-section {
  background: url("../img/colors-bg.jpg") center center/cover no-repeat;
  // min-height: 100vh;
  position: relative;
  display: block;
  padding-top: rem(115px);
  color: #fff;
}
