.player-section {
  position: relative;

  &:before {
    content: url(../img/hexagon.png);
    display: block;
    position: absolute;
    bottom: rem(-36px);
    right: 7%;
    z-index: 2;
  }
}

.player-section__container {

    width: 94.5%;
    max-width: 660px;
    margin: 0 auto;
    // height: 390px;

    @include tablets {
      width: 83.5%;
    }
  
    @include phones {
      width: 90%;
    }

}