.product {
  
}

.product__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: rem(100px);

  @include tablets {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }
}
.product__col {
  margin-right: rem(15px);
  width: 50%;
  
  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    width: 100%;
    margin: 0 0 rem(20px) 0 ;
  }

  @include tablets {
    margin: 0;
  }
  
}
.product__img {
  width: 100%;
  position: relative;
  top: rem(25px);

  @include tablets {
    top: 0;
    width: 43%;
    margin: 0 auto;
  }

  @include phones {
    width: 70%;
  }
}


.product__description {
  margin-bottom: rem(25px);
  width: rem(91px);
  height: rem(91px);
  cursor: pointer;
  position: relative;

  &:hover .product__desc-full{
    left: 100%;
  }

  @include tablets {
    display: none;
  }

}
.product__description-pic {
  display: block;
  
}

.product__desc-full {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(40px);
  border-radius: rem(4px);
  position: absolute;
  top: 0;
  left: rem(-999999px);
  color: #000000;
  width: rem(273px);
  height: rem(294px);
  padding: rem(28px) rem(25px) rem(34px) rem(30px);
  font-size: rem(16px);
  color: #000000;
}

.product__desc-list {
  display: flex;
  flex-direction: column;
}

.product__desc-item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(29px);
}

.product__desc-item-ico {
  width: rem(24px);
  height: rem(24px);
  margin-right: rem(12px);
}

.product__desc-item-text {
  flex: 1;
}

.product__title {
  font-weight: bold;
  font-size: rem(36px);
  text-transform: uppercase;
  margin-bottom: rem(24px);
  line-height: 1.16;

  @include tablets {
    font-size: rem(30px);
    padding-top: rem(33px);
    text-align: center;
    margin-bottom: rem(15px);
  }

  @include phones {
    padding: rem(25px) rem(20px) 0 rem(20px);
  }

}
.product__text {
  margin-bottom: rem(14px);
  font-size: rem(16px);
  padding-right: 29%;
  color: #666666;

  @include tablets {
    padding: 0 rem(65px);
    text-align: center;
    margin-bottom: rem(21px);
  }

  @include phones {
    padding: 0 rem(41px);
  }
}
.product__info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(24px);
  

  @include tablets {
    justify-content: center;
    padding-left: rem(56px);
  }
}
.product__info-col {
  flex-basis: rem(150px);

  @include tablets {
    // margin-right: rem(20px);
  }
}
.product__info-up {
  font-weight: normal;
  font-size: rem(16px);
  color: #666666;
}
.product__info-down {
  font-weight: bold;
  font-size: rem(18px);
  color: #000000;
}

.product__value {
  display: flex;
  flex-wrap: wrap;

  @include tablets {
    justify-content: center;
    
  }
}

.product__value-col {

  @include tablets {
    margin-right: rem(40px);

    &:last-child {
      margin-right: 0;
    }
    
  }
}

.product__price {
  flex-basis: rem(162px);
  font-weight: normal;
  font-size: rem(36px);
  color: #151515;

  @include tablets {
    // font-size: rem;
    font-size: rem(40px);
  }
}