.review-section {
  position: relative;

  // @include tablets {
  //   min-height: rem(976px); 
  // }

  //  @include phones {
  //   min-height: rem(804px); 
  // }

  &::before {
    content: url('../img/circle.png');
    position: absolute;
    left: 6%;
    bottom: 0;
    transform: translateY(50%);
    z-index: 2;
  }
}