.socials {
display: flex;
align-items: center;
}
.socials__item {
  flex: 0 0 auto;
  margin-right: rem(10px);
}

.socials__item:last-child {
  margin-right: 0;
}

.social__svg {
  width: rem(30px);
  height: rem(30px);
  fill: #B3B3B3;  
  

  &:hover {
    fill: #000;
    transition: .5s;
  }
}

.socials__link {
  display: block;
  text-decoration: none;
  width: rem(30px);
  height: rem(30px);
} 